<div class="right">
  <%= link_to 'Edit', edit_admin_survey_path(@survey), class: button_classes('warning') %>
  <%= link_to 'Back', admin_surveys_path, class: button_classes %>
</div> <!-- right -->

<%= render 'surveys/survey_info', survey: @survey %>

<%= link_to 'Add a Question', new_admin_survey_question_path(@survey), class: "#{button_classes} btn-block" %>

<hr>

<h3>Questions</h3>

<ol>
<% @survey.questions.each do |question| %>
  <li class="question">
    <%= display_question(question) %>
    (<%= link_to 'edit', edit_admin_question_path(question) %> |
    <%= link_to 'delete', admin_question_path(question), method: :delete, data: {confirm: "Are you sure you want to delete '#{question.body}'? This action cannot be undone."} %>)
  </li>
    <ul>
      <% question.options.each do |option| %>
        <li><%= option.body %></li>
      <% end %> <!-- options.each -->
    </ul>
<% end %> <!-- survey.each -->
</ol>


