<div class="right">
  <%= link_to 'Edit', edit_admin_survey_path(@survey), class: button_classes('warning') %>
  <%= link_to 'Back', admin_surveys_path, class: button_classes %>
</div> <!-- right -->

<%= render 'survey_info', survey: @survey %>

<%= link_to 'Add a Question', new_admin_survey_question_path(@survey), class: "#{button_classes} btn-block" %>

<hr>

<%= render 'existing_survey_questions', questions: @questions %>

