<div class="greyed-out">
  <%= render 'surveys/survey_info', survey: @question.survey %>
</div>

<hr>

<div class="right">
  <%= link_to 'Cancel', admin_survey_path(@survey), class: button_classes %>
</div> <!-- right -->

<h3>Add a Multiple Choice Question</h3>

<p class="form-phases">1. Select Options | <span class="greyed-out">2. Add Question Text</span></p>

<%= form_for [:admin, @survey, @question] do |f| %>
  <%= f.label :qty_options, 'How many options should the question have?' %>
  <%= f.number_field :qty_options, class: 'form-control' %>

  <%= f.label :multiple_permitted, 'How many options can be selected?' %><br>

  <label>
    <%= f.radio_button :multiple_permitted, false %>
    Just One
  </label>

  <label>
    <%= f.radio_button :multiple_permitted, true %>
    Multiple
  </label>

  <%= f.label :required, "Is this question required?" %><br>
  <%= f.collection_select :required, Question::REQUIRED, :first, :last, {}, class: 'form-control' %>

  <%= f.submit 'Continue to the Next Step ->', class: "#{button_classes} btn-block" %>

<% end %> <!-- form_for question -->


<div class="greyed-out">
  <%= render '/admin/surveys/existing_survey_questions', existing_questions: @survey.questions %>
</div>
